section.contact
  .contact-container
    h1.section-title Contact Us
    .contact-cta
      p Please don't hesistate to reach out. We look forward to the speaking with you and hope we have the opportunity to work together. <br>
      p Don't worry, someone will answer -- quickly.
    .contact-form-container
      .contact-form
        form(action='https://formspree.io/your@email.com', method='POST')

        input.line-input(id='name', type='text', name='name', placeholder ="Your Name")

        input.line-input(id='email',type='email', name='_replyto', placeholder='Your Email')

        input.line-input(id='services',type='text', name='services', placeholder='What Kind of Services Do You Need?')

        label.message-label(for='name') Message
        textarea.message(id='message',type='textarea' ,align="top", resize='false', name='_message')

        input.send-button(type='submit', value='Send' id='send-button')
