section.footer
  .footer-container
    .footer-content-container
      .footer-left
        h1 Myers Design Co.
        h4 web and design services for the people.
      .footer-right
        ul.footer-right
          li TOP
          li SERVICES
          li TEAM
          li PORTFOLIO
          li CONTACT
          li blog
    .footer-mid
      p Copyright © 2017 Myers Design Co. All Rights Reserved
