section.jumbotron
  .jumbotron-container
    .nav-container
      .logo
      .hamburger
        .line-1
        .line-2
        .line-3
      ul.desktop-nav
        li.desktop-nav-item SERVICES
        li.desktop-nav-item PEOPLE
        li.desktop-nav-item PORTFOLIO
        li.desktop-nav-item CONTACT
    .mobile-nav-container
      ul.mobile-nav
        li.mobile-nav-item SERVICES
        li.mobile-nav-item PEOPLE
        li.mobile-nav-item PORTFOLIO
        li.mobile-nav-item CONTACT
    .jumbotron-cta
      H2 We like designing and building <br> things, especially for the web.
      h5 Big or small; simple or intricate; we've <br> got you covered.
