section.jumbotron
  .jumbotron-container
    .nav-container
      .logo
        h1 MYERS DESIGN CO.
        h4 web and design services for the people.
      ul.desktop-nav
        li.desktop-nav-item SERVICES
        li.desktop-nav-item PORTFOLIO
        li.desktop-nav-item PEOPLE
        li.desktop-nav-item CONTACT
    .jumbotron-cta
      h2 We like designing and building <br> things, especially for the web.
      h5 Big or small; simple or intricate; we've <br> got you covered.
