section.services#services
  .services-container
    .browser-window
      .browser-top-bar
        .browser-buttons
          .browser-btn-1
          .browser-btn-2
          .browser-btn-3
        .search-bar
      .browser-content
        .services-content
          h2.section-title Services
          p We are comitted to being an asset to every business and individual we work with.
          p We aim to remove barriers that business’s face in a technology-centered world, not create more.
          .services-grid
            .service-container.webdev
              .service-container-inside
                .title-container
                  .icon.webdev
                  h4 Web Development
                .service-desc
                  p Myers Design Co. specializes in bespoke landing pages and fully custom Wordpress themes. Every business and individual we work with is unique, and we believe their website should be as well. You won’t find any themes here, we build your website with your goals in mind.
            .service-container.design
              .service-container-inside
                .title-container
                  .icon.design
                  h4 Design Services
                .service-desc
                  p Myers Design Co. is a full-service design agency, meaning we offer design services for all mediums, both digital and physcal. Whether you need business cards, pamphlets, signage, websites, an app, or anything in between, we can help.
            .service-container.seo
              .service-container-inside
                .title-container
                  .icon.seo
                  h4 SEO/Social Media
                .service-desc
                  p Depending on your business or personal goals, sometimes a website or a business card doesn’t cut it. In other words, you need exposure and traffic. We can help with that, let Myers Design Co. help you launch your new company or increase the traffic to your current business.
            .service-container.branding
              .service-container-inside
                .title-container
                  .icon.branding
                  h4 Branding
                .service-desc
                  p Myers Design Co. has a real passion for creating and launching brands. We love to take an idea from inception to completion. Let us help design and launch your brand, from the name tags to the website and logo, we want to be there the entire way.
      p Myers Design Co. has a passion for designing, creating, and launching brands.
      p Let us supply you with everything you need to succeed.
