section.services
  .services-container
    .browser-window
      .browser-top-bar
        .browser-buttons
          .browser-btn-1
          .browser-btn-2
          .browser-btn-3
        .search-bar
    .services-content
      h2.section-title Services
      .services-grid
        .services-row-1
          .service-container
            .title-container
              .icon-1
              h4 Web Development
            .service-desc
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          .service-container
            .title-container
              .icon-2
              h4 Design Services
            .service-desc
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        .services-row-2
          .service-container
            .title-container
              .icon-3
              h4 SEO/Social Media
            .service-desc
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          .service-container
            .title-container
              .icon-4
              h4 Branding
            .service-desc
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      p.services-bottom-text Myers Design Co. has a passion for designing, creating, and launching brands. <br> Let us supply you with everything you need to succeed.
