section.services
  .services-container
    .browser-window
      .browser-top-bar
        .browser-buttons
          .browser-btn-1
          .browser-btn-2
          .browser-btn-3
        .search-bar
      .browser-content
        .services-content
          h2.section-title Services
          p We are comitted to being an asset to every business and individual we work with.
          p We aim to remove barriers that business’s face in a technology-centered world, not create more. 
          .services-grid
            .service-container.webdev
              .service-container-inside
                .title-container
                  .icon.webdev
                  h4 Web Development
                .service-desc
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            .service-container.design
              .service-container-inside
                .title-container
                  .icon.design
                  h4 Design Services
                .service-desc
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            .service-container.seo
              .service-container-inside
                .title-container
                  .icon.seo
                  h4 SEO/Social Media
                .service-desc
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            .service-container.branding
              .service-container-inside
                .title-container
                  .icon.branding
                  h4 Branding
                .service-desc
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      p Myers Design Co. has a passion for designing, creating, and launching brands. 
      p Let us supply you with everything you need to succeed.

