<section class="portfolio">
  <h2>Portfolio</h2>
  <div class="portfolio__slider owl-carousel owl-theme">
    <div class="portfolio__slider--item">
      <a href="#"> <img src="assets/images/website-1.png" alt="website " />
        <h3>Lorem Ipsum</h3> </a>
    </div>
    <div class="portfolio__slider--item">
      <a href="#"> <img src="assets/images/website-2.png" alt="website " />
        <h3>Lorem Ipsum</h3> </a>
    </div>
    <div class="portfolio__slider--item">
      <a href="#"> <img src="assets/images/website-3.png" alt="website " />
        <h3>Lorem Ipsum</h3> </a>
    </div>
    <div class="portfolio__slider--item">
      <a href="#"> <img src="assets/images/website-3.png" alt="website " />
        <h3>Lorem Ipsum</h3> </a>
    </div>
    <div class="portfolio__slider--item">
      <a href="#"> <img src="assets/images/website-3.png" alt="website " />
        <h3>Lorem Ipsum</h3> </a>
    </div>
    <div class="portfolio__slider--item">
      <a href="#"> <img src="assets/images/website-3.png" alt="website " />
        <h3>Lorem Ipsum</h3> </a>
    </div>
  </div>
</section>