.services
  display: flex
  justify-content: center
  height: 58vw
  max-height: 650px
  .services-container
    display: flex
    position: absolute
    justify-content: center
    height: 70vw
    max-height: 750px
    width: 90%
    border-radius: 4px
    margin: auto
    margin-top: -150px
    max-width: 960px
    .browser-window
      display: flex
      flex-direction: column
      height: 100%
      width: 100%
      border-radius: 4px
      background: #F8F8F7
      box-shadow: 2px 2px 3px #888888
      .browser-top-bar
        display: flex
        height: 8%
        width: 100%
        background: #dde1e4
        border-top-left-radius: 4px
        border-top-right-radius: 4px
        .browser-buttons
          display: flex
          justify-content: space-around
          align-items: center
          height: 100%
          width: 10%
          border-top-left-radius: 4px
          .browser-btn-1, .browser-btn-2, .browser-btn-3
            padding-top: 18%
            width: 18%
            background: red
            border-radius: 100%
          .browser-btn-1
            background: #FF5348
          .browser-btn-2
            background: #FFBA04
          .browser-btn-3
            background: #16C52E
        .search-bar
          width: 85%
          background: #F7F8FB
          height: 70%
          align-self: center
          margin-left: 1%
          border-radius: 3px


    .services-content
      display: flex
      flex-direction: column
      position: absolute
      margin: 0px auto
      top: 0
      margin-top: 75px
      background: lightskyblue
      width: 90%
      height: calc(90% - 5vh)
      .services-grid
        display: flex
        margin-top: 1vh
        flex-direction: column
        justify-content: space-around
        height: 90%
        background: orange
        .services-row-1, .services-row-2
          display: flex
          justify-content: space-around
          height: 50%
          width: 100%
          background: pink
          margin-bottom: 5px

          .service-container
            display: flex
            flex-direction: column
            height: 100%
            width: 40%
            background: red
            max-width: 345px

            .title-container
              display: flex
              flex-shrink: 0
              height: 25%
              width: 100%
              background: purple
              h4
                font-size: 16pt
                align-self: center
                letter-spacing: .5px
                font-weight: 500
                margin-left: 3%
                font-family: "Rubik", sans-serif

              .icon-1, .icon-2, .icon-3, .icon-4
                display: flex
                height: 100%
                width: 25%
                background: yellow
                  repeat: no-repeat
                  size: contain
                  position: center

              .icon-1
                background:
                  image: url(/assets/images/web-dev-icon.svg)
              .icon-2
                background:
                  image: url(/assets/images/design-icon.svg)
              .icon-3
                background:
                  image: url(/assets/images/loudspeaker-icon.svg)
              .icon-4
                background:
                  image: url(/assets/images/dropped-pin-icon.svg)

            .service-desc
              display: flex
              justify-content: center
              p
                font-family: $accentfont
                width: 95%
                font-size: 11pt
      .services-bottom-text
        align-self: center
        height: 3vw
        color: red
        font-size: 14pt
        width: 80%
        text-align: center
        font-family: "Rubik", sans-serif
        line-height: 4vw
        color: $gunmetal
        padding-bottom: 2vw
